<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
   
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />


  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Orders</title>
  </head>
  <body>
    <div class="nav-bar">
      <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand"> &nbsp &nbsp RESTAURANT</a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu">MENU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reservations">RESERVATIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myorders">MY ORDERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">CART</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">ABOUT US</a>
          </li>
        </ul>
      </nav>
    </div>
    <h1>My Orders</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1" style="font-weight: 800">S.No</div>
        <div class="col-sm-4" style="font-weight: 800">Ordered Date</div>
        <div class="col-sm-4" style="font-weight: 800">Ordered Time</div>
        <div class="col-sm-3" style="font-weight: 800">Total Price</div>
      </div>
      <div class="panel-group" id="accordion">
        {% for i in range(0,orderstaken|length) %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse{{i+1}}"
              >
                <div class="row">
                  <div class="col-sm-1">{{i+1}}</div>
                  <div class="col-sm-4">{{orderstaken[i][1]}}</div>
                  <div class="col-sm-4">{{orderstaken[i][2]}}</div>
                  <div class="col-sm-3">&#8377;{{orderstaken[i][5]}}</div>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapse{{i+1}}" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-1" style="font-weight: 800">S.No</div>
                <div class="col-sm-4" style="font-weight: 800">Dish Name</div>
                <div class="col-sm-4" style="font-weight: 800">Quantity</div>
                <div class="col-sm-3" style="font-weight: 800">Price</div>
              </div>
              <br />
              {% for j in range(0,orderdetails[orderstaken[i][4]]|length)%}
              <div class="row">
                <div class="col-sm-1">{{j+1}}</div>
                <div class="col-sm-4">
                  {{orderdetails[orderstaken[i][4]][j][0]}}
                </div>
                <div class="col-sm-4">
                  {{orderdetails[orderstaken[i][4]][j][1]}}
                </div>
                <div class="col-sm-3">
                  &#8377;{{orderdetails[orderstaken[i][4]][j][2]}}
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  Delivery Charges: &#8377; 30.0
                </div>
                <div class="col-sm-3">
                  Total Price : &#8377;{{orderstaken[i][5]}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Pacifico&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="http://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <title>Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleHome.css') }}" />

    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    <style>
        body {
            font-family: "Courgette", cursive;
            background-color: rgb(250, 240, 207);
        }
    </style>
</head>

<body>
    <header class="header">
        <a href="/">
            <img class="logo" alt="Omnifood logo" src="static/img/omnifood-logo.png" />
        </a>
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li><a class="main-nav-link" href="/">Home</a></li>
                <li><a class="main-nav-link" href="/menu">Menu</a></li>
                <li>
                    <a class="main-nav-link" href="/reservations">Reservations</a>
                </li>
                <li><a class="main-nav-link" href="/cart">Cart</a></li>
                {%if session['admin'] %}
                <li><a class="main-nav-link" href="/admininfo">Work Info</a></li>
                {% endif %} {% if session['CustomerId'] %} {% if not session['admin'] %}
                <li>
                    <a class="main-nav-link nav-cta" href="/userhomepage"><span class="glyphicon glyphicon-user"></span
              >&nbsp;&nbsp;&nbsp;{{session['Customername']}}</a
            >
          </li>
          {% endif %}
          <li><a class="main-nav-link nav-cta" href="/logout">Logout</a></li>
                {%else%}
                <li>
                    <a class="main-nav-link nav-cta" href="/login"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Log
              in</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <h1 style="margin-left: 40%; margin-bottom: 2rem; color: rgb(73, 41, 0)">
      My Orders
    </h1>
    <div class="container-fluid">
      <div class="row" style="color: rgb(104, 63, 9)">
        <div class="col-sm-1" style="font-weight: 800; font-size: 1.75rem">
          OrderId
        </div>
        <div class="col-sm-2" style="font-weight: 800; font-size: 1.75rem">
          Ordered Date
        </div>
        <div class="col-sm-2" style="font-weight: 800; font-size: 1.75rem">
          Ordered Time
        </div>
        <div class="col-sm-2" style="font-weight: 800; font-size: 1.75rem">
          Delivered Time
        </div>
        <div class="col-sm-1" style="font-weight: 800; font-size: 1.75rem">
          Total Price
        </div>
        <div class="col-sm-2" style="font-weight: 800; font-size: 1.75rem">
          Payment Status
        </div>
        <div class="col-sm-2" style="font-weight: 800; font-size: 1.75rem">
          Delivery Status
        </div>
      </div>
      <div class="panel-group" id="accordion">
        {% for i in range(0,orderstaken|length) %}
        <div
          class="panel panel-default"
          style="background-color: rgb(255, 251, 236); color: rgb(73, 41, 0)"
        >
          <div
            class="panel-heading"
            style="background-color: rgb(133, 75, 1); color: rgb(248, 243, 225)"
          >
            <h4
              class="panel-title"
              style="
                background-color: rgb(133, 75, 1);
                color: rgb(253, 248, 229);
              "
            >
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse{{i+1}}"
              >
                <div class="row">
                  <div class="col-sm-1">{{orderstaken[i][0]}}</div>
                  <div class="col-sm-2">{{orderstaken[i][1]}}</div>
                  <div class="col-sm-2">{{orderstaken[i][2]}}</div>
                  <div class="col-sm-2">
                    {{delivery_info[orderstaken[i][0]][0][3]}}
                  </div>
                  <div class="col-sm-1">&#8377;{{orderstaken[i][5]}}</div>
                  <div class="col-sm-2">
                    {% if orderstaken[i][0] in delivery_info.keys() %} {% if
                    delivery_info[orderstaken[i][0]][0][4]=="Paid" %}
                    <span class="label label-success">Paid</span> {% elif
                    delivery_info[orderstaken[i][0]][0][4]=="Cash-On-Delivery"
                    %} <span class="label label-info">Cash-On-Delivery</span> {%
                    endif %} {%endif%}
                  </div>
                  <div class="col-sm-2">
                    {% if orderstaken[i][0] in delivery_info.keys() %} {% if
                    delivery_info[orderstaken[i][0]][0][2]=="Delivered" %}
                    <span class="label label-success">Delivered</span> {% elif
                    delivery_info[orderstaken[i][0]][0][2]=="Preparing" %}
                    <span class="label label-info">Preparing</span> {% elif
                    delivery_info[orderstaken[i][0]][0][2]=="Enroute" %}
                    <span class="label label-info">Enroute</span> {% endif %}
                    {%endif%}
                  </div>
                </div>
              </a>
                    </h4>
                    </div>
                    <div id="collapse{{i+1}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-1" style="font-weight: 800">S.No</div>
                                <div class="col-sm-4" style="font-weight: 800">Dish Name</div>
                                <div class="col-sm-4" style="font-weight: 800">Quantity</div>
                                <div class="col-sm-3" style="font-weight: 800">Price</div>
                            </div>
                            <br /> {% for j in range(0,orderdetails[orderstaken[i][4]]|length)%}
                            <div class="row">
                                <div class="col-sm-1">{{j+1}}</div>
                                <div class="col-sm-4">
                                    {{orderdetails[orderstaken[i][4]][j][0]}}
                                </div>
                                <div class="col-sm-4">
                                    {{orderdetails[orderstaken[i][4]][j][1]}}
                                </div>
                                <div class="col-sm-3">
                                    &#8377;{{orderdetails[orderstaken[i][4]][j][2]}}
                                </div>
                            </div>
                            <br /> {% endfor %}
                        </div>
                        <div class="panel-footer" style="
                background-color: rgb(245, 189, 106);
                color: rgb(90, 90, 90);
              ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3" style="font-weight: 800">
                                        Delivery Agent: {{delivery_agent_info[orderstaken[i][0]][0][0]}}
                                    </div>
                                    <div class="col-sm-3" style="font-weight: 800">
                                        Agent Mobile: {{delivery_agent_info[orderstaken[i][0]][0][1]}}
                                    </div>
                                    <div class="col-sm-3" style="font-weight: 800">
                                        Delivery Charges: &#8377; 30.0
                                    </div>
                                    <div class="col-sm-3" style="font-weight: 800">
                                        Total Price : &#8377;{{orderstaken[i][5]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                    </div>
                    </div>
</body>

</html>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Pacifico&display=swap" rel="stylesheet" />